*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header-content{
    background-color: rgb(62, 61, 61);
    width: 100vw;
    height: 15vh;
}

.header-content h4{
    color: white;
    padding: 2rem;
}

.navbar{
    max-width: 100vw;
    background-color: black;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 5vh;
    align-items: center;
    padding-left: 2rem;
    justify-content: space-between;
    
}

.navigation li a{
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0 4rem;
}

.navigation li a:hover{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}

.container{
    display: grid;
    grid-template-columns: auto 25vw;
    height: 55vh;
    margin: 0;

}

.main-content{
    background-color: grey;
    color: rgb(89, 89, 89);
    padding: 2rem;
}

.aside-content{
    background-color: white;
    color: rgb(89, 89, 89);
    padding: 2rem;
}

.footer-content{
    background-color: rgb(62, 61, 61);
    height: 30vh;
    padding: 2rem;
    text-align: center;
    color: white;
}
